.feedPic{
display: inline-block;
border: 8px solid grey;
vertical-align: top;
margin-left: 50px;
}

.feedInfo{
  display: inline-block;
}

.pictureCont{
  margin-bottom: 10px;
}

.barn{
  margin-top: -30px;
}

.cultMingle{
  margin-top: 30px;
}

.feedAbout{
  width: 300px;
}

html{
  width:100%;
  height:100%;
}
body{

  background-attachment: fixed;
  background-repeat: none;
  background-color: black;
  background-image: linear-gradient(white, white);
  background: white;
  background: linear-gradient(white, white);
}